html {
    position: relative;
    min-height: 100%;
  }

.huge {
    font-size: 40px;
}


body > #app > .container, .profile, {
    margin-top: 80px;
    margin-bottom: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
}

@include media-breakpoint-down(xs) { 
    body > #app > .container, {
        margin-bottom: 320px;
    }
}

body > #app > .container-fluid {
    padding-bottom: 15px;
    padding-top: 15px;
}
body {
    background-color: #f6f6f6;
}


.blink{
    -webkit-animation: blink 700ms infinite alternate;
    -moz-animation: blink 700ms infinite alternate;
    -o-animation: blink 700ms infinite alternate;
    animation: blink 700ms infinite alternate;
}
@-webkit-keyframes blink {
    from { opacity:1; }
    to { opacity:0; }
}
@-o-keyframes blink {
    from { opacity:1; }
    to { opacity:0; }
}
@-moz-keyframes blink {
    from { opacity:1; }
    to { opacity:0; }
}
@keyframes blink {
    from { opacity:1; }
    to { opacity:0; }
};

nav, .bb {
    border-bottom: 2px solid $primary;
}

.active-thread {
    border-left:3px solid $primary!important;
    color: #4b4848;
}

.vb > .vb-dragger {
    z-index: 5;
    width: 12px;
    right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate3d(0,0,0,0);
    transform: rotate3d(0,0,0,0);
    -webkit-transition:
        background-color 100ms ease-out,
        margin 100ms ease-out,
        height 100ms ease-out;
    transition:
        background-color 100ms ease-out,
        margin 100ms ease-out,
        height 100ms ease-out;
    background-color: rgba(10, 10, 10,.4);
    margin: 5px 5px 5px 0;
    border-radius: 20px;
    height: calc(100% - 10px);
    display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(50, 50, 50,.1);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
    background-color: rgba(80, 80, 80,.4);
    margin: 0px;
    height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(80, 80, 80,.5);
    margin: 0px;
    height: 100%;
}