/node_modules
/public/storage
/public/hot
/public/css
/public/fonts
/public/js
/public/images/avatar/*
!/public/images/avatar/no-avatar.png
!/public/images/avatar/.gitkeep
/vendor
/.idea
/.vagrant
.env
.php_cs.cache
/storage/debugbar
/storage/tmp
/log
/.phpintel/*
/.phpintel/
yarn-error.log
composer.lock
public/mix-manifest.json
