

.chat-bubble {
  margin-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  display: inline-block;
  position: relative;
  max-width: 80%;
  small {
  	color: #2d253580;
    font-weight: 400;
  }

 /* &:before {
	  content: "\00a0";
	  display: block;
	  height: 16px;
	  width: 9px;
	  position: absolute;
	  bottom: -7.5px;
	}*/
}



.chat-bubble.left {
  margin-left:15px;
  background-color: #eaeff2;
  float: left;
  clear: both;

  small{
	position: absolute;
	white-space: nowrap;
  }

  /*&:before {
	  background-color: #eaeff2;
	  left: 10px;
	  -webkit-transform: rotate(70deg) skew(5deg);
	}*/
}


.chat-bubble.right {
  margin-right:15px;
  background-color: #158ffe;
  float: right;
  clear: both;
  color: #eaeff2;
  
  small{
  	position: absolute;
	  right: 0;
    white-space: nowrap;
  }

  /*&:before {
	  background-color: #158ffe;
	  right: 10px;
	  -webkit-transform: rotate(118deg) skew(-5deg);
	}*/
}

