//@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

// $orange:    hsl(14,  100%, 53%);
// $yellow:    hsl(48,  100%, 67%);
// $green:     hsl(141, 71%,  48%);
// $turquoise: hsl(171, 100%, 41%);
// $cyan:      hsl(204, 90%,  53%);
// $blue:      hsl(209, 99%,  54%);
// $purple:    hsl(271, 100%, 71%);
// $red:       hsl(348, 100%, 61%);

// // Sidebar
//$sidenav-base-width: 250px;
//$sidenav-collapsed-width: 55px;
//$navbar-base-height: 70px;

//$font-family-sans-serif: Roboto,-apple-system,Helvetica Neue,Arial,sans-serif;

//$font-weight-base: 300;
//$body-color: #5a6169 

// Set your colors
$primary: hsl(209, 99%,  54%);
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

$body-background-color: $light !default;
$body-weight: $weight-medium !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;